footer {
    position: fixed;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    background: rgba(33, 37, 41, 0.9);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.footer-content p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-weight: 300;
}

.footer-content span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}