.nav {
    align-items: center;
}

.nav .logo {
    margin-right: 30px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.nav .logo:hover {
    color: rgb(30, 201, 90);
}

.nav .nav-link {
    text-decoration: none;
    color: white;
    padding: 8px;
    margin: 5px;
    font-weight: 500;
    transition: 0.2s;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.nav .nav-link:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

.nav .nav-link:focus {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

@media screen and (max-width: 700px) {
	.nav .nav-link {
		display: none;
	}
}